PORT=5000
MONGO_URI=mongodb://localhost:27017/modapella
JWT_SECRET=change_this_secret
ADMIN_EMAIL=admin@modapella.com
ADMIN_PASSWORD=Admin123!
CASHIER_EMAIL=cashier@modapella.com
CASHIER_PASSWORD=Cashier123!
CORS_ORIGIN=http://localhost:5173
